$sprite-2x-ico_arrow-grey: 26px 26px -26px -26px 12px 9px 48px 48px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-ico_arrow-pink: 26px 39px -26px -39px 12px 9px 48px 48px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-ico_facebook: 0px 0px 0px 0px 22px 22px 48px 48px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-ico_google: 26px 0px -26px 0px 22px 22px 48px 48px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-ico_twitter: 0px 26px 0px -26px 22px 22px 48px 48px '../../../dist/img/common/sprites@2x.png';

